<h1 class="header">Create an account</h1>
<div class="container">
  <div class="row center">
    <div class="col-12">
      <form [formGroup]="registerForm">
        <div class="form-group text">
          <label>Email address</label>
          <input type="email" formControlName="email" class="form-control">
        </div>
        <div class="form-group text">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password">
          <label class="error">{{errorMessage}}</label>
          <label class="success">{{successMessage}}</label>
        </div>
        <button type="submit" (click)="tryRegister(registerForm.value)" class="btn btn-default btn-block">Register</button>
        <p>Already have an account? <a routerLink="/login">Login</a></p>
      </form>
    </div>
  </div>
</div>
