.header{
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: 120px;
}

.container{
  text-align: center;
}

.center{
  display: inline-block;
  width: 50%;
}

.text{
  text-align: left;
  padding-left: 2px;
}

.row{
  margin-top: 10px;
}

.error{
  color: red;
}

.success{
  color: green;
}
